[submodule "vendor/date"]
	path = vendor/date
	url = git@github.com:HowardHinnant/date
[submodule "vendor/pgfe"]
	path = vendor/pgfe
	url = https://github.com/dmitigr/pgfe
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "vendor/rapidjson"]
	path = vendor/rapidjson
	url = https://github.com/Tencent/rapidjson
